#root {
    font-family: Raster, monospace;
    background-color: black;
}

.header {
    height: 50px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: #00ff00 2px solid;
}
.header h1 {
    color: #00ff00;
    font-size: 1.1rem;
    margin: 0;
}
.header p {
    color: grey;
}
.left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-right: white 1px solid;
    font-size: 2.5rem;
}
.right {
    /* background-color: blanchedalmond; */
    padding: 15px;
    /* margin: 15px; */
    color: #00ff00;
    flex: 1;
    /* width: 60%; */
}
.footer {
    height: 35px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: #00ff00 2px solid;
}
.footer span {
    color: #00ff00;
    padding-right: 20px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    height: auto;
    flex: 1;
}
.cursor {
  display: inline-block;
  width: 4px;
  height: .75em;
  background-color: #00ff00;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}