#root {
    font-family: Raster, monospace;
}

.header {
    background-color: black;
    /* background-color: red; */
    height: 50px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header h1 {
    color: #00ff00;
    font-size: 1.1rem;
    margin: 0;
}
.header p {
    color: grey;
}
.left {
    background-color: green;
    width: 40%;
}
.right {
    background-color: blue;
    width: 60%;
}
.footer {
    background-color: yellow;
    height: 30px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    height: auto;
    flex: 1;
}
