body {
    overflow: hidden;
    background-color: black;
    margin: 0;
}
#root {
    font-family: Raster, monospace;
    background-color: black;
}

.header {
    height: 50px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: #00ff00 2px solid;
}
.header h1 {
    color: #00ff00;
    font-size: 1.1rem;
    margin: 0;
}
.header p {
    color: grey;
}
.left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-right: white 1px solid;
    font-size: 2.5rem;
}
.right {
    padding: 15px;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}
.cmd {
    color: #00ff00;
    /* font-size: 1.1rem; */
    display: inline;
    font-family: monospace;
  white-space: pre;
}
.cmd {
    /* display: inline; */
  font-family: monospace;
  background-color: transparent;
  color: #00ff00; /* example terminal green */
  border: none;
  outline: none;
  flex: 1;
  white-space: pre;
  font-size: 1rem;
  padding: 0;
}

.footer {
    height: 35px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: #00ff00 2px solid;
}
.footer span {
    color: #00ff00;
    padding-right: 20px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100vw;
}
.container {
    display: flex;
    height: auto;
    flex: 1;
    overflow-y: scroll;
}
.container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Optional: just make scrollbar invisible */
}
.cursor {
    display: inline-block;
    width: 4px;
    height: 0.75em;
    background-color: #00ff00;
    animation: blink 1s step-end infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.terminal {
    color: #6eb0df;
    display: inline;
}
/* .command-input input {
    outline: none;
    border: none;
    background: transparent;
    font-family: Raster, monospace;
    padding: 0;
} */
/* .response {
    margin: 8px 0;
} */
/* .response div{
    margin: 3px 0;
} */
.response pre{
    margin: 0;
}